<div class="container">
  <div class="row">
    <div class="three columns">
      Quakertown, PA
    </div>

    <div class="three columns">
      <a href="mailto:jesse@jessejames-fitness.com">jesse@jessejames-fitness.com</a>
    </div>

    <div class="three columns social">
      <ul>
        <li>
          <a target="_blank" href="https://www.facebook.com/Jesse-James-Fitness-399005660280113" title="View Facebook Page"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </li>
        <li>
          <a target="_blank" href="https://twitter.com/jj_fitness_gugf" title="View Twitter Page"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
        <li>
          <a target="_blank" href="https://instagram.com/jj_fitness_gugf/" title="View Instagram Page"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>

    <div class="three columns">
      Site by <a href="https://www.github.com/marioharper" title="Contact Mario Harper - Web Developer" class="contact-mario">Mario Harper</a>
    </div>
  </div>
</div>