<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Jesse James Fitness - About</title>
    <meta name="description" content="Learn more about Jesse James Nace of Jesse James Fitness.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include "partials/_headerStyles.html" %}
  </head>
  <body>
    <span class="background-cover"></span>
    <header>
      <!-- Main Nav
      ===============================-->
      {% include "partials/_menu.html" %}
    </header>

    <main>
      <section id="about">
        <div class="container">
          <h2 class="heading">About Me</h2>
          <p class="subhead">Jesse James Nace</p>

          <div class="row">
            <div class="six columns valign-wrapper">
              <img src="/assets/img/run.jpg" class="valign">
            </div>

            <div class="six columns valign-wrapper">
              <p class="valign">I have been involved in fitness my entire life. I have always had a passion for trying to improve my body and one day I decided I wanted to help others improve theirs. To me, there is nothing more satisfying then watching somebody evolve into the person they really want to be. I use constantly changing programs that utilize functional everyday movements to create high intensity workouts that will vary in weight, time and skill. Everyone needs the same type of work, but with different variations depending on their level of fitness. Being healthy is one of my biggest passions, which is why I think my work translates to others so well. I have worked hard to achieve my goals and now I want to help you work hard for yours.</p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Footer
    ===============================-->
    <footer>
      {% include "partials/_footer.html" %}
    </footer>

    {% include "partials/_footerScripts.html" %}
  </body>
</html>