<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Jesse James Fitness - Personal Training Quakertown, PA</title>
    <meta name="description" content="Jesse James Fitness is an ACE certified and Crossfit certified personal training service offered by Jesse James Nace in the Lehigh Valley and surrounding area. Services offered include Personal Training, Group Training, Online Programming and Nutritional Seminars.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include "partials/_headerStyles.html" %}
  </head>
  <body>
    <span class="background-cover"></span>
    <header>
      <!-- Main Nav
      ===============================-->
      {% include "partials/_menu.html" %}
    </header>

    <main>
      <!-- Hero
      ===============================-->
      <section id="hero">
        <div class="container">
          <img src="/assets/img/logo.png" alt="Jesse James Fitness Logo">
        </div>
      </section>

      <!-- Certifications
      ===============================-->
      <section id="certifications">
        <div class="container">
          <h2 class="heading">Certifications</h2>

          <div class="row">
            <div class="four columns">
              <div class="certification-icon red-border"> 
                <img src="/assets/img/ace-approved.png" alt="American Control on Excercise logo">     
              </div>
              <h5 class="certification-label">Ace Certified Personal Trainer</h5>
            </div>

            <div class="four columns">
              <div class="certification-icon green-border">   
                <img src="/assets/img/ace-approved.png" alt="American Control on Excercise logo">     
              </div>
              <h5 class="certification-label">Ace Fitness Nutrition Specialist</h5>
            </div>

            <div class="four columns">
              <div class="certification-icon blue-border"> 
                <img src="/assets/img/ace-approved.png" alt="American Control on Excercise logo">       
              </div>
              <h5 class="certification-label">Ace Weight Management Specialist</h5>
            </div>
          </div>

          <div class="row">
            <div class="four columns">
              <div class="certification-icon yellow-border">  
                <img src="/assets/img/levelone.png" alt="Crossfit Level 1 badge">     
              </div>
              <h5 class="certification-label">Crossfit Level 1 Certified Trainer</h5>
            </div>

            <div class="four columns">
              <div class="certification-icon red-border">  
                <img src="/assets/img/weightlifting-trainer.png" alt="Crossfit weightlifting trainer badge">     
              </div>
              <h5 class="certification-label">Crossfit Weightlifting Certified</h5>
            </div>

            <div class="four columns">
              <div class="certification-icon green-border">   
                <img src="/assets/img/scaling-badge.png" alt="Crossfit scaling course badge">    
              </div>
              <h5 class="certification-label">Crossfit Scaling Course</h5>
            </div>
          </div>
        </div>        
      </section>

      <!-- Insta
      ===============================-->
      <section id="instagram-feed">
        <div class="container">
          <h2 class="heading">Instagram Feed</h2>
          <div id="instafeed"></div>
          <a href="http://instagram.com/jj_fitness_gugf" class="follow-btn button button-primary">
            <i class="fa fa-instagram" aria-hidden="true"></i>
            Follow on Instagram
          </a>
        </div>
      </section>
    </main>

    <!-- Footer
    ===============================-->
    <footer>
      {% include "partials/_footer.html" %}
    </footer>

    {% include "partials/_footerScripts.html" %}
  </body>
</html>