<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Jesse James Fitness - Services</title>
    <meta name="description" content="Jesse James Fitness services offered include Personal Training, Group Training, Online Programming and Nutritional Seminars.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include "partials/_headerStyles.html" %}
  </head>
  <body>
    <span class="background-cover"></span>
    <header>
      <!-- Main Nav
      ===============================-->
      {% include "partials/_menu.html" %}
    </header>

    <main>
      <!-- Services
      ===============================-->
      <section id="services">
        <div class="container">
          <h2 class="heading">Services</h2>
          
          <p class="subhead">Prices vary by location if trainer needs to travel. Willing to travel 30min, any direction, from Quakertown, PA.</p>

          <div class="row">
            <div class="three columns service">
              <h5 class="title">Personal<br/>Training</h5>
              <div class="content">
                <div class="tiers">
                  <div class="tier">
                    <p class="price">$35</p>
                    <p class="price-label">1hr starting</p>
                  </div>
                  <div class="tier">
                    <p class="price">$20</p>
                    <p class="price-label">1/2hr starting</p>
                  </div>
                </div>   
                <p class="description">
                  One on one training tailored to your needs and goals
                </p>
              </div>
            </div>

            <div class="three columns service">
              <h5 class="title">Group<br/>Training</h5>
              <div class="content">
                <div class="tiers">
                  <div class="tier">
                    <p class="price">$55</p>
                    <p class="price-label">1hr starting</p>
                  </div>
                  <div class="tier">
                    <p class="price">$30</p>
                    <p class="price-label">1/2hr starting</p>
                  </div>
                </div>  
                <p class="description">
                  Take on your workouts in a group of two or more. Price per hour is for entire group; the more people in the group, the less each person pays.
                </p>
              </div>
            </div>

            <div class="three columns service">
              <h5 class="title">Online<br/>Programming</h5>
              <div class="content">
                <div class="tiers">
                  <div class="tier">
                    <p class="price">$45</p>
                    <p class="price-label">3x per week</p>
                  </div>
                  <div class="tier">
                    <p class="price">$70</p>
                    <p class="price-label">5x per week</p>
                  </div>
                </div>   
                <p class="description">
                  On a budget? Self motivated but want to spice up your routine? Choose online programming and receive three to five workouts per week via email.
                </p>
              </div>
            </div>

            <div class="three columns service">
              <h5 class="title">Nutritional<br/>Seminars</h5>
              <div class="content">
                <div class="tiers">
                  <div class="tier">
                    <p class="price">$50</p>
                    <p class="price-label">45min lecture starting</p>
                  </div>
                </div>
                <p class="description">
                  Lecture on basics of good nutrition practices or pick your own presentation topic
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Footer
    ===============================-->
    <footer>
      {% include "partials/_footer.html" %}
    </footer>

    {% include "partials/_footerScripts.html" %}
  </body>
</html>