<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Jesse James Fitness - Testimonials</title>
    <meta name="description" content="Read testimonials written about Jesse James Fitness. Testimonials are written by real clients of Jesse James Fitness.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include "partials/_headerStyles.html" %}
  </head>
  <body>
    <span class="background-cover"></span>
    <header>
      <!-- Main Nav
      ===============================-->
      {% include "partials/_menu.html" %}
    </header>

    <main>
       <!-- Testimonials
      ===============================-->
      <section id="testimonials">
        <div class="container">
          <h2 class="heading">Testimonials</h2>

          <div class="row">
              <div class="testimonial">
                <p class="message">
                  "I moved to the Quakertown area 6 months ago from New York City. Over the years, I have been a member of some of the top gyms in NYC and have had a number of personal trainers. After relocating, I thought I might have a difficult time finding a new trainer of the caliber I was accustomed to. Luckily I ran into Jesse. He is fantastic! He brings enthusiasm and creativity to each workout and is knowledgeable, motivating and professional. Jesse receives my highest recommendation and you’ll be lucky to have him as your trainer."
                </p>

                <div class="client">
                  <span class="client-name">Kevin Goddess</span>
                  <span class="client-type">Personal Training Client</span>
                </div>
              </div>

              <div class="testimonial">
                <p class="message">
                  "My philosophy has always been “I’ll work out when I need to,” secretly hoping I would never have to. After 2 kids and reaching my 30’s, I finally came to the point where I had to do something. I tried running and going to the gym, but like most, found reasons why I couldn’t fit it into my schedule. I started working out with Jesse and instantly loved it! He is very reliable and makes every workout completely different, which has kept me interested in continuing to work out for the past 2 years. There have been noticeable differences in my body shape and I’ve gotten numerous compliments from people I see every day that they notice the difference from when I started working out. I would definitely recommend Jesse to anyone who was looking to start or restart working out, regardless of skill level."
                </p>

                <div class="client">
                  <span class="client-name">Joanne Lu</span>
                  <span class="client-type">Group Training Client</span>
                </div>
              </div>

              <div class="testimonial">
                <p class="message">
                  "Jesse has been my personal trainer for two years. The amazing results that I have achieved to date are due to Jesse’s combination of training methods and individual exercise programs. I have never felt stronger on healthier! If your serious and committed to changing your life, Jesse is your man! Get up and Get Fit with Jesse!"
                </p>

                <div class="client">
                  <span class="client-name">Brian Holtzman</span>
                  <span class="client-type">Personal Training Client</span>
                </div>
              </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Footer
    ===============================-->
    <footer>
      {% include "partials/_footer.html" %}
    </footer>

    {% include "partials/_footerScripts.html" %}
  </body>
</html>