/* Contact
------------------------*/
#contact{
	.heading{
		color: white;
	}

	label{
		color: white;
	}

	form{
		font-family: lato;
		font-size: 2rem;
		color: $text-black;

		textarea{
			height: 200px;
		}
	}
}
